* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e80071;
}

.logo span {
    color: black;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

/* Title */
.page-title {
    text-align: center;
    padding: 30px;
    background-color: #f8f8f8;
}

/* Layout */
.main-container {
    display: flex;
    padding: 30px;
}


/* Products */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-left: 30px;
    width: 100%;
}

.dress-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.dress-card img {
    width: 300px;
    height: 400px;
}

.price {
    font-weight: bold;
    margin: 8px 0;
}

.dress-card button {
    padding: 8px 15px;
    background-color: #e80071;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
    margin-top: 30px;
}
