/* ================= MEN SECTION ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e80071;
}

.logo span {
    color: black;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


/* Banner */
.men-banner {
    height: 260px;
    background: linear-gradient(#dbe6f6, #c5796d);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.men-banner button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Categories */
.men-categories {
    padding: 40px;
    text-align: center;
}

.men-category-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.men-cat {
    padding: 15px 25px;
    background-color: #f5f5f5;
    font-weight: bold;
    cursor: pointer;
}

/* Products */
.men-products {
    padding: 40px;
    text-align: center;
}

.men-product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 25px;
}

.men-card {
    border: 1px solid #ddd;
    padding: 15px;
}

.men-card img {
    width: 250px;
    height: 350px;
}

.men-card button {
    margin-top: 10px;
    padding: 8px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
